



<div class="ui grid">
    <div class="six wide column">
        <div class="ui segment">
            <h3>Schemas</h3>
            Sailors(sid:integer, sname:string, rating:integer, age:real)
            Boats(big:integer, bname:string, color:string)
            Reserves(sid:integer, bid:integer, day:date)
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui segment">
           <div class="ui form">
               <div class="field">
                   <h3>SQL</h3>
                   <textarea></textarea>
               </div>
               <div class="ui orange submit button">Translate</div>
           </div>
            <br />
           <div class="ui form">
               <div class="field">
                   <h3>Relational Algebra</h3>
                   <textarea></textarea>
               </div>
               <div class="ui orange submit button">Build Tree</div>
           </div>
            <br />
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui segment">
            <h3>Query Tree</h3>
        </div>
    </div>
</div>