@model Project__.Models.UsersVM
@using Newtonsoft.Json;

<script type="text/javascript">
    function ChangeCalendar() {
        $('#calendar').hide();
        $('#calendar2').show();
    };
</script>


<div class=" ui grid">
    <div class="sixteen wide column">
        <div class="ui vertically divided grid">
            <div class="two column row">
                <div class="five wide column">
                    <div class="ui raised teal segment">
                        <h2>Add New Meeting</h2>
                        <div class="ui divider"></div>
                        <div class="ui form">
                            <div class="field">
                                <label>Name</label>
                                <input type="text" />
                            </div>
                            <div class="field">
                                <label>Descrpition</label>
                                <textarea rows=2></textarea>
                            </div>
                            <div class="field">
                                <label>Date</label>
                                <div class="ui icon input">
                                    <input type="text" id="datepicker" size="32" />
                                    <i class="calendar icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Start Time</label>
                                <div class="ui icon input">
                                    <input type="text" id="datepicker" size="32" />
                                </div>
                            </div>
                            <div class="field">
                                <label>End Time</label>
                                <div class="ui icon input">
                                    <input type="text" id="datepicker" size="32" />
                                </div>
                            </div>
                            <div class="ui orange submit button" onclick="ChangeCalendar()">Create</div>
                        </div>
                    </div>
                </div>
                <div class="eleven wide column">
                    <div class="ui raised teal segment">
                        <div id='calendar'></div>
                        <div id='calendar2' style="display: none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        menuchange(4);
        $('#calendar').fullCalendar({
            height: 600,
            events: [{ title: 'First', start : '2015-12-8'}]

        });
        $('#calendar2').fullCalendar({
            height: 600

        });
    });
</script>