<div class=" ui grid">
    <div class="sixteen wide column">
        <div class="ui vertically divided grid">
            <div class="two column row">
                <div class="five wide column">
                    <div class="ui raised teal segment">
                        <p>(Call) Meeting Name</p>
                        <p>(Call) Date</p>
                        <p>(Call) Time</p>
                        <p>(Call) Description</p>
                    </div>
                </div>
                <div class="eleven wide column">
                    <div class="ui raised teal segment">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
            <div class="one column row">
                <div class="sixteen wide column">
                    <div class="ui raised teal segment">
                        <p>Enter New Meeting Here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        menuchange(1);
        $('#calendar').fullCalendar({
            height: 400
        });
    });
</script>