


<div class="ui grid">
    <div class="four wide column">
        Tutt Has no computer because he is a weenie.
    </div>
    <div class="four wide column">
        <span></span>
    </div>
    <div class="four wide column">

    </div>
    <div class="four wide column">

    </div>
</div>