

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker();
    });
</script>

<div class=" ui grid">
    <div class="three wide column">
        &nbsp;
    </div>
    <div class="ten wide column">
        <div class="ui raised teal segment">
            <h3 style="text-align: center">Create A Group</h3>
            <div class="ui two column grid">
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Group Name</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="text" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Project Name</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="text" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Due Date</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="text" id="datepicker" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column"style="text-align: right">
                        <h4>Members</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="text" size="35" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column">
        &nbsp;
    </div>
</div>

