
@{
    ViewBag.Title = "Shared Files";
}

<h2>Shared Files</h2>

<div>
    <table class="ui celled teal table">
        <thead class="inverted teal">
            <tr>
                <th>File Name</th>
                <th>Owner</th>
                <th>Creation Date</th>
                <th>Edit File</th>
                <th>Download File</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cool Ideas.docx</td>
                <td>Jordan Williams</td>
                <td>11/10/2015</td>
                <td style="text-align:center;"><button class="ui icon button teal"><i class="edit icon" /></button></td>
                <td style="text-align:center;"><button class="ui icon button teal"><i class="download icon" /></button></td>
            </tr>
        </tbody>
    </table>
</div>