

<div class="ui grid">
    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="~/Content/images/team-placeholder.png" style="max-height: 100%; max-width: 100%;" />
            </div>
            <div class="content">
                Wild Wombats
                <div class="meta">
                    Team Tagline
                </div>
            </div>
            <div class="extra content">
                This is a description.
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui teal raised segment">
            <h2>Team Members:</h2>
            <table class="ui celled striped table">
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <i class="group icon"></i> Team Name
                        </td>
                        <td>Initial commit</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> test
                        </td>
                        <td>Initial commit</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> build
                        </td>
                        <td>Initial commit</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="file outline icon"></i> package.json
                        </td>
                        <td>Initial commit</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="file outline icon"></i> Gruntfile.js
                        </td>
                        <td>Initial commit</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ui teal raised segment">
            <h2>Team Members:</h2>
            <table class="ui compact celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Registration Date</th>
                        <th>E-mail address</th>
                        <th>Premium Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>
                            <div class="ui right floated small labeled icon fluid button">
                                <i class="user icon"></i> Remove User
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Jamie Harington</td>
                        <td>January 11, 2014</td>
                        <td>jamieharingonton@yahoo.com</td>
                        <td>
                            <div class="ui right floated small labeled icon fluid button">
                                <i class="user icon"></i> Remove User
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Jill Lewis</td>
                        <td>May 11, 2014</td>
                        <td>jilsewris22@yahoo.com</td>
                        <td>
                            <div class="ui right floated small labeled icon fluid button">
                                <i class="user icon"></i> Remove User
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th colspan="4">
                            <div class="ui right floated small primary labeled icon fluid button">
                                <i class="user icon"></i> Add User
                            </div>

                        </th>
                    </tr>
                </tfoot>
            </table>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        menuchange(7);
    });
</script>

