<div class=" ui grid">
    <div class="three wide column">
        &nbsp;
    </div>
    <div class="ten wide column">
        <div class="ui raised teal segment">
            <h3 style="text-align: center">Settings</h3>
            <div class="ui two column grid">
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>First Name</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="text" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Last Name</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="text" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Username</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="text" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Email</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="text" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Old Password</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="password" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>New Password</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="password" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Confirm New Password</h4>
                    </div>
                    <div class="ten wide column">
                        <div class="ui input">
                            <input type="password" size="35" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column" style="text-align: right">
                        <h4>Default Group</h4>
                    </div>
                    <div class="six wide column">
                        <select class="ui fluid search dropdown">
                            <option value="">Default Group</option>
                            <option value="AL">Group 1</option>
                            <option value="AK">Group 2</option>
                            <option value="AZ">Group 3</option>
                            <option value="AR">Group 4</option>
                        </select>
                    </div>
                    <div class="four wide column">
                       &nbsp;
                    </div>
                </div>      
                <div class="row">
                    <div class="six wide column">
                        &nbsp;
                    </div>
                    <div class="ten wide column" style="text-align: left">
                        <div class="ui orange button">
                            Update
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column">
        &nbsp;
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        menuchange(6);
    });
</script>