@{
    ViewBag.Title = "Home Page";
}

<div class="ui grid">
    <div class="four wide column">Testing</div>

    <div class="four wide column">Testing 2</div>

    <div class="four wide column">Testing 3</div>

    <div class="four wide column">Testing 4</div>
</div>